<a href="https://colab.research.google.com/github/mehul79/CC_mehul_102316082/blob/main/CC_assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a List L that is defined as= [10, 20, 30, 40, 50, 60, 70, 80].
<br>
i. WAP to add 200 and 300 to L.
<br>
ii. WAP to remove 10 and 30 from L.
<br>
iii. WAP to sort L in ascending order.
<br>
iv. WAP to sort L in descending order.

In [1]:

L = [10, 20, 30, 40, 50, 60, 70, 80]


L.extend([200, 300])
print(f"List after adding 200 and 300: {L}")


L.remove(10)
L.remove(30)
print(f"List after removing 10 and 30: {L}")


L.sort()
print(f"List sorted in ascending order: {L}")

L.sort(reverse=True)
print(f"List sorted in descending order: {L}")

List after adding 200 and 300: [10, 20, 30, 40, 50, 60, 70, 80, 200, 300]
List after removing 10 and 30: [20, 40, 50, 60, 70, 80, 200, 300]
List sorted in ascending order: [20, 40, 50, 60, 70, 80, 200, 300]
List sorted in descending order: [300, 200, 80, 70, 60, 50, 40, 20]

Create a tuple of marks scored as scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45) and
perform the following operations using tuple functions:
<br>
i. Identify the highest score and its index in the tuple.
<br>
ii. Find the lowest score and count how many times it appears.
<br>
iii. Reverse the tuple and return it as a list.
<br>
iv. Check if a specific score ‘76’ (input by the user) is present in the tuple and
print its first occurrence index, or a message saying it’s not present.

In [5]:
scores = (45, 89.5, 76, 45.4, 89, 92, 58, 45)


highest_score = max(scores)
highest_score_index = scores.index(highest_score)
print(f"Highest score: {highest_score}, Index: {highest_score_index}")

lowest_score = min(scores)
lowest_score_count = scores.count(lowest_score)
print(f"Lowest score: {lowest_score}, Count: {lowest_score_count}")

reversed_scores_list = list(reversed(scores))
print(f"Reversed tuple as a list: {reversed_scores_list}")

specific_score = 76
if specific_score in scores:
    specific_score_index = scores.index(specific_score)
    print(f"Score {specific_score} found at index: {specific_score_index}")
else:
    print(f"Score {specific_score} not found in the tuple.")

Highest score: 92, Index: 5
Lowest score: 45, Count: 2
Reversed tuple as a list: [45, 58, 92, 89, 45.4, 76, 89.5, 45]
Score 76 found at index: 2

WAP to create a list of 100 random numbers between 100 and 900. Count and print the:
<br>
i. All odd numbers
<br>
ii. All even numbers
<br>
iii. All prime numbers

In [4]:
import random

numbers = [random.randint(100, 900) for _ in range(100)]
odds = []
evens = []
primes = []


for num in numbers:
    if num % 2 != 0:
        odds.append(num)
    else:
        evens.append(num)
    is_prime = True
    if num < 2:
        is_prime = False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(num)


print("Odd numbers:", odds)
print("Even numbers:", evens)
print("Prime numbers:", primes)

Odd numbers: [149, 831, 363, 525, 777, 481, 783, 861, 671, 889, 535, 167, 533, 743, 263, 361, 467, 637, 871, 789, 291, 395, 419, 103, 613, 747, 837, 105, 841, 495, 599, 801, 745, 849, 341, 717, 327, 819, 237, 205, 123, 377, 825, 545, 797, 239, 829, 323, 433, 521, 329]
Even numbers: [276, 500, 548, 214, 704, 220, 482, 190, 302, 332, 640, 496, 552, 198, 316, 392, 900, 270, 650, 174, 400, 248, 768, 724, 776, 648, 380, 650, 190, 254, 654, 790, 696, 898, 496, 514, 228, 480, 348, 324, 702, 822, 540, 168, 870, 506, 828, 626, 202]
Prime numbers: [149, 167, 743, 263, 467, 419, 103, 613, 599, 797, 239, 829, 433, 521]

Consider the following two sets, A and B, represenƟng scores of two teams in mulƟple
matches. A = {34, 56, 78, 90} and B = {78, 45, 90, 23}
WAP to perform the following operaƟons using set functions:
<br>
i. Find the unique scores achieved by both teams (union of sets).
<br>
ii. IdenƟfy the scores that are common to both teams (intersecƟon of sets).
<br>
iii. Find the scores that are exclusive to each team (symmetric difference).
<br>
iv. Check if the scores of team A are a subset of team B, and if team B's scores are a superset of team A.
<br>
v. Remove a specific score X (input by the user) from set A if it exists. If not, print a message saying it is not present.

In [6]:
A = {34, 56, 78, 90}
B = {78, 45, 90, 23}


unique_scores = A | B
print(f"Unique scores: {unique_scores}")


common_scores = A & B
print(f"Common scores: {common_scores}")


exclusive_scores = A ^ B
print(f"Exclusive scores: {exclusive_scores}")


is_subset = A.issubset(B)
is_superset = B.issuperset(A)
print(f"Is A a subset of B? {is_subset}")
print(f"Is B a superset of A? {is_superset}")


X = int(input("Enter the score to remove from set A: "))
if X in A:
    A.remove(X)
    print(f"Set A after removing {X}: {A}")
else:
    print(f"Score {X} not found in set A.")

Unique scores: {34, 45, 78, 23, 56, 90}
Common scores: {90, 78}
Exclusive scores: {34, 45, 23, 56}
Is A a subset of B? False
Is B a superset of A? False
Enter the score to remove from set A: 34
Set A after removing 34: {56, 90, 78}

Write a program to rename a key city to a locaƟon in the following dictionary.

In [8]:
city_dict = {"name": "kelly", "age": 25, "salary": 8000, "city": "new york"} # Example dictionary


if 'city' in city_dict:
    location_value = city_dict['city']
    del city_dict['city']

    city_dict['location'] = location_value
    print(f"Updated dictionary: {city_dict}")

else:
    print("The key 'city' does not exist in the dictionary.")

Updated dictionary: {'name': 'kelly', 'age': 25, 'salary': 8000, 'city': 'new york', 'location': 'new york'}